<footer class="footer">
  <div class="footer_container">
    <div class="footer_content">
      <p class="footer_text">Công ty cổ phần Games OnG</p>
      <p class="footer_text">Dragon Super</p>
      <p class="footer_text">Email hỗ trợ: support@dragonsuper.online</p>
      <p class="footer_text">
        <a href="https://www.facebook.com/ThieuTrungKi3n" target="_blank" class="social_link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="icon-facebook">
            <path
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
          </svg>
        </a>
        <a href="/policy" class="footer_link">Điều khoản dịch vụ</a>
      </p>
    </div>
  </div>
</footer>
